<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Películas</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="active"><a href="#">Link</a></li>
        </ul>

        <div class="col-sm-3 col-md-3">
          <div class="input-group">
            <input  #txtBuscar
                    (keyup.enter)="buscarPelicula( txtBuscar.value )"
                    class="form-control"
                    type="search"
                    placeholder="Buscar película"
                    aria-label="Search">
                    <div class="input-group-btn">
                      <button (click)="buscarPelicula( txtBuscar.value )"
                              class="btn btn-outline-success"
                              type="submit">                      
                        <fa-icon [icon]="faSearch"></fa-icon>
                      </button>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </nav>