<!--div class="swiper-container">
    <div class="swiper-wrapper">
        <div *ngFor="let actor of cast"
             class="swiper-slide text-white text-center">
            <img [src]="actor.profile_path | poster" 
                 [alt]="actor.name"
                 class="img-thumbnail"/>
            {{ actor.name }}
        </div>
    </div>
</div-->


<!-- Slider main container -->
<div class="row">
    <div class="swiper-container">
        <swiper [slidesPerView]="6"
                [spaceBetween]="10"
                [navigation]="true"
                [pagination]="false"
                [keyboard]="{
                    enabled: false
                }"
                [virtual]="true"
                class="my-swiper">                
                    <ng-template swiperSlide *ngFor="let actor of cast">
                        <div style="color: white">
                            <img [src]="actor.profile_path | poster" [alt]="actor.name" class="img-thumbnail"/>
                                {{ actor.name }}
                        </div>
                    </ng-template>
        </swiper>
    </div>
</div>
