@for (video of videos$ | async; track video.id ) {
    <div class="video-row mt-3">
        <div class="video-iframe">
            <iframe width="560" height="315"
                [src]="getUrlVideo(video.key)"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
            </iframe>
        </div>
        <div class="video-info">
            <h3>{{ video.name }}</h3>
            <p>{{ video.type }}</p>
        </div>        
    </div>
    <hr>
}