<div>
    <swiper-container init="false" class="my-swiper">
        <swiper-slide *ngFor="let movie of movies$ | async as data">
            <div class="slide-custom" 
            [ngStyle]="{
                        'background-size': 'cover',
                        'background-image': 'url(https://image.tmdb.org/t/p/w780'+ movie.backdrop_path +')'
            }">
                <div class="movie-description">
                    <h3>{{ movie.title }}</h3>
                    <p>
                        {{ movie.overview | slice:0:130 }}...
                    </p>
                    <br>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>    
</div>