@import "swiper/css/bundle";

body {
    background-color: #14161E;    
}

h1,h2,h4,h5 {
    color: white;
}

h3 {
    color: white;
    line-height: 1.3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px 0px;
};

p {
    color: white;
}

hr{
    color: white;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.btn-outline-success {
    border-color: #bd4c5f !important;;
    color: #bd4c5f !important;;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display:block;
}